@using KJCFRubberRoller.Models

<nav class="navbar navbar-expand-sm navbar-dark bg-kjcf sticky-top">
    <a class="navbar-brand" href="/"><img src="~/Content/Images/kjcf.jpg" alt="KJCF" width="120px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole(UserRole.getRole(1)) || User.IsInRole(UserRole.getRole(2)))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="manageUserDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage Staff Account</a>
                        <div class="dropdown-menu" aria-labelledby="manageUserDropdown">
                            @Html.ActionLink("Staff List", "list", "staff", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                            @Html.ActionLink("Add New Staff Account", "register", "staff", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                        </div>
                    </li>
                }
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="manageRollerDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage Roller</a>
                    <div class="dropdown-menu" aria-labelledby="manageRollerDropdown">
                        @Html.ActionLink("View All Roller Category", "", "rollercategory", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                        @Html.ActionLink("Add New Roller Category", "create", "rollercategory", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                        <div class="dropdown-divider"></div>
                        @Html.ActionLink("View All Rubber Roller", "", "rubberroller", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                        @Html.ActionLink("Add New Rubber Roller", "create", "rubberroller", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="manageRollerDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Roller Maintenance @Html.Partial("_MaintenanceNotif")</a>
                    <div class="dropdown-menu" aria-labelledby="manageRollerDropdown">
                        @Html.ActionLink($"Maintenance List", "", "maintenance", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                        @Html.ActionLink("File New Maintenance Report", "CreateSearch", "maintenance", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="manageRollerDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Roller Operation</a>
                    <div class="dropdown-menu" aria-labelledby="manageRollerDropdown">
                        @Html.ActionLink("Roller Issue", "CreateSearch", "schedule", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                        @Html.ActionLink("Active Operation List", "ActiveOperation", "schedule", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                        @Html.ActionLink("Operation History List", "OperationHistory", "schedule", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="manageRollerDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reports</a>
                    <div class="dropdown-menu" aria-labelledby="manageRollerDropdown">
                        @Html.ActionLink("All Maintenance List", "", "maintenance", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                        @Html.ActionLink("Roller Status", "SummaryReport", "rubberroller", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                        @Html.ActionLink("Roller Information", "rollerinformation", "report", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                        @Html.ActionLink("Roller Stock Card", "stockcardsearch", "report", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                        @Html.ActionLink("Roller Current Location", "location", "rubberroller", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                        @Html.ActionLink("Roller Stock Overview", "stockoverview", "rubberroller", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                        @Html.ActionLink("Roller Usage Report", "rollerusagesearch", "report", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                        @Html.ActionLink("Roller Repair/Refurbish History", "rollermaintenancesearch", "report", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
                    </div>
                </li>
            }
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
</nav>

