@model KJCFRubberRoller.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<div class="container">
    <div class="row mb-4">
        <div class="col-md-8 mx-auto">
            <div class="py-2 bg-kjcf">
                <h2 class="text-white text-center">Reset Password</h2>
            </div>
            <div class="bg-white container py-3">
                <section id="loginForm">
                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Reset your password.</h4>
                        <hr />
                        @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
                        @Html.HiddenFor(model => model.Code)
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m=>m.Email,"", new {@class = "text-danger" });
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder="length>8, at least 1 lowercase, 1 uppercase and 1 digit" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group text-center">
                            <input type="submit" class="btn btn-success w-25" value="Reset" />
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
