@using KJCFRubberRoller.Models
@model KJCFRubberRoller.Models.AfterRollerProductionChecklist

@{
    ViewBag.Title = "After Roller Production Checklist";

    Schedule schedule = null;
    if (ViewData["schedule"] == null)
    {
        schedule = Model.Schedule;
    }
    else
    {
        schedule = (Schedule)ViewData["schedule"];
    }

    //Roller Send to dropdown
    List<SelectListItem> sendTo = new List<SelectListItem>();
    sendTo.Add(new SelectListItem
    {
        Text = "Roller Room",
        Value = "Roller Room"
    });
    sendTo.Add(new SelectListItem
    {
        Text = "Canco",
        Value = "Canco"
    });
    sendTo.Add(new SelectListItem
    {
        Text = "Refurbish to EIKOH",
        Value = "Refurbish to EIKOH"
    });
    sendTo.Add(new SelectListItem
    {
        Text = "Send to rejection (On-hold)",
        Value = "Send to rejection (On-hold)"
    });
}

<div class="container">
    <div class="row mb-4">
        <div class="col-md-10 mx-auto">

            <div class="py-2 bg-kjcf">
                <h2 class="text-white text-center">After Roller Production Checklist</h2>
            </div>

            @if (TempData["formStatus"] != null)
            {
                <div class="alert @((bool)TempData["formStatus"] == true ? "alert-success" : "alert-danger") alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    @Html.Raw(TempData["formStatusMsg"])
                </div>
            }

            <div class="bg-white container py-3">
                @using (Html.BeginForm("CompleteOperation", "Schedule", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("scheduleID", schedule.scheduleID)

                    //Roller ID
                    <div class="form-group">
                        @Html.Label("Roller ID")
                        @Html.TextBox("rollID", schedule.RubberRoller.rollerID, new { @class = "form-control", @readonly = "true" })
                    </div>

                    //Roller Description
                    <div class="form-group">
                        @Html.Label("Roller Descriptions")
                        @Html.TextBox("rollerDescription", $"{schedule.RubberRoller.RollerCategory.size} - {schedule.RubberRoller.RollerCategory.description}", new { @class = "form-control", @readonly = "true" })
                    </div>

                    //Operation Line
                    <div class="form-group">
                        @Html.Label("Operation Line")
                        @Html.TextBox("operationLine", $"L{schedule.operationLine}", new { @class = "form-control", @readonly = "true" })
                    </div>

                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Roller Condition (After Production to verify)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @*Roller Appearance*@
                            <tr>
                                <td class="text-center">1</td>
                                <td><p class="font-weight-bold pl-2">Roller appearance, have any marking, dent mark?</p></td>
                                <td class="pt-2 pl-2">
                                    @Html.RadioButtonFor(Model => Model.rollerAppearance, "Yes") @Html.Label("Yes")
                                    @Html.RadioButtonFor(Model => Model.rollerAppearance, "No", new { @checked = "checked" }) @Html.Label("No")
                                    @Html.ValidationMessageFor(model => model.rollerAppearance, "", new { @class = "text-danger" })
                                </td>
                            </tr>

                            @*Roller Send To*@
                            <tr>
                                <td class="text-center">2</td>
                                <td><p class="font-weight-bold pl-2">Roller send to:</p></td>
                                <td class="pt-2 px-2">
                                    @Html.DropDownListFor(model => model.rollerSendTo, sendTo, "Select roller send to", new { @class = "form-control", id = "rollerSendTo" })<br />
                                    @Html.TextBox("roomLocation", "", new { @class = "form-control", style = "display:none", id = "roomLocationInput", maxlength = "5", placeholder = "Enter roller room rack location" })
                                    @Html.ValidationMessageFor(model => model.rollerSendTo, "", new { @class = "text-danger" })
                                </td>
                            </tr>

                            @*Roller Mileage Run*@
                            <tr>
                                <td class="text-center">3</td>
                                <td><p class="font-weight-bold pl-2">Mileage Run:</p></td>
                                <td class="py-2 px-2">
                                    @Html.TextBox("mileageRun", "", new
                                    {
                                        @class = "form-control",
                                        placeholder = "Enter mileage run here",
                                        type = "number",
                                        min = "0",
                                        max = "10000000",
                                        step = "1",
                                        onkeypress = "return event.charCode >= 48 && event.charCode <= 57",
                                        required = "required"
                                    })
                                </td>
                            </tr>

                            @*End Date Time*@
                            <tr>
                                <td class="text-center">4</td>
                                <td><p class="font-weight-bold pl-2">End Date Time:</p></td>
                                <td class="py-2 px-2">
                                    @Html.TextBox("endDT", "", new { @class = "form-control", id = "endDate", type = "datetime-local" })
                                </td>
                            </tr>

                            @*Remark*@
                            <tr>
                                <td class="text-center">5</td>
                                <td><p class="font-weight-bold pl-2">Other remark.</p></td>
                                <td class="py-2 px-2">
                                    @Html.TextAreaFor(model => model.remarks, new { @class = "form-control", placeholder = "Enter any remarks here" })
                                    @Html.ValidationMessageFor(model => model.remarks, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="form-group row">
                        <div class="col-md-6 text-center">
                            <input type="reset" value="Clear" class="btn btn-primary w-75" />
                        </div>
                        <div class="col-md-6 text-center">
                            <button type="button" class="btn btn-success w-75" data-toggle="modal" data-target="#confirmCompleteOperationModal">Submit Checklist & Complete Operation</button>
                        </div>
                    </div>

                    <!-- Confirmation modal -->
                    <div class="modal fade" data-backdrop="static" id="confirmCompleteOperationModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Confirm to Complete Operation</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Confirm to mark operation as complete?<br /><br />
                                    Please note any further changes to schedule details, before & after checklist is <b>not allowed</b> after operation is marked as completed.
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="button" data-dismiss="modal" class="btn btn-block btn-danger">Cancel</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success btn-block">Confirm</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    (function () {
        var startTime = new Date();
        startTime = new Date(startTime.getTime() + (startTime.getTimezoneOffset()));
        let time = `${startTime.getFullYear()}-${(startTime.getMonth() + 1).toString().padStart(2, '0')}-${startTime.getDate().toString().padStart(2, '0')}T${startTime.toTimeString().substr(0, 8)}`;
        let timeLess2Hr = `${startTime.getFullYear()}-${(startTime.getMonth() + 1).toString().padStart(2, '0')}-${startTime.getDate().toString().padStart(2, '0')}T${(startTime.getHours() - 2).toString().padStart(2, '0')}:${startTime.getMinutes().toString().padStart(2, '0')}:${startTime.getSeconds().toString().padStart(2, '0')}`;

        document.querySelector('#endDate').setAttribute('min', timeLess2Hr);
        document.querySelector('#endDate').setAttribute('value', time);

        let sendToDropdown = document.querySelector('#rollerSendTo');
        sendToDropdown.addEventListener("change", (e) => {
            let input = document.querySelector('#roomLocationInput');
            if (e.target.value === "Roller Room") {
                input.style.display = "";
                input.setAttribute("required", "required");
            } else {
                input.removeAttribute("required");
                input.style.display = "none";
            }
        });
    })();
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
