@model KJCFRubberRoller.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="container">
    <div class="row mb-4">
        <div class="col-md-8 mx-auto">
            <div class="py-2 bg-kjcf">
                <h2 class="text-white text-center">Change Password</h2>
            </div>
            <div class="bg-white container py-3">
                <section id="registerForm">
                    <p class="required">* Require field</p>
                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.OldPassword)<span class="required">*</span>
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword)<span class="required">*</span>
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword)<span class="required">*</span>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <a href="/profile/edit" class="btn w-75 btn-primary">Back</a>
                                </div>
                                <div class="col-md-6 text-center">
                                    <input type="submit" value="Change password" class="btn w-75 btn-success" />
                                </div>
                            </div>
                        </div>
                    }
                </section>
                </div>
            </div>
        </div>
    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }