@model KJCFRubberRoller.Models.ApplicationUser
@using KJCFRubberRoller.Models
@{
    ViewBag.Title = "Profile";
}

<div class="container">
    <div class="row mb-4">
        <div class="col-md-6 mx-auto">

            @if (TempData["formStatus"] != null)
            {
                <div class="alert @((bool)TempData["formStatus"] == true ? "alert-success" : "alert-danger") alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    @Html.Raw(TempData["formStatusMsg"])
                </div>
            }

            <div class="py-2 bg-kjcf">
                <h2 class="text-white text-center">Staff Account Details</h2>
            </div>
            <div class="bg-white container py-3">
                <section id="registerForm">
                    <hr />
                    <div class="row">
                        <div class="col-md-10 mx-auto">

                            @*Staff ID*@
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4 font-weight-bold">
                                        Staff ID:
                                    </div>
                                    <div class="col-md-8">
                                        @Model.staffID
                                    </div>
                                </div>
                            </div>

                            @*Staff position*@
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4 font-weight-bold">
                                        Position:
                                    </div>
                                    <div class="col-md-8">
                                        @UserRole.getRole(Model.position)
                                    </div>
                                </div>
                            </div>

                            @*Staff email*@
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4 font-weight-bold">
                                        Email:
                                    </div>
                                    <div class="col-md-8">
                                        @Model.Email
                                    </div>
                                </div>
                            </div>

                            @*Staff name*@
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4 font-weight-bold">
                                        Name:
                                    </div>
                                    <div class="col-md-8">
                                        @Model.name
                                    </div>
                                </div>
                            </div>

                            @*Staff IC*@
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4 font-weight-bold">
                                        NRIC:
                                    </div>
                                    <div class="col-md-8">
                                        @Model.IC
                                    </div>
                                </div>
                            </div>

                            @*Button*@
                            @{ if (Model.position == 1)
                                {
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6 text-center">
                                                @Html.ActionLink("Update Profile", "UpdateProfile", null, new { @class = "btn w-75 btn-primary" })
                                            </div>
                                            <div class="col-md-6 text-center">
                                                @Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "btn btn-success w-75" })
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                @Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "btn btn-success w-75" })
                                            </div>
                                        </div>
                                    </div>
                                }}


                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<script>
    (function () {
        document.querySelector('.staffID').addEventListener('keyup', (e) => {
            e.target.value = e.target.value.toUpperCase();
        });
    })();
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
