@model IPagedList<KJCFRubberRoller.Models.Maintenance>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mb-4">
    <div class="col-12">
        <div class="py-2 mt-4 bg-kjcf">
            <h2 class="text-white text-center">Rubber Roller Maintenance Records</h2>
        </div>

        <div class="bg-white container-fluid py-3">
            @Html.ActionLink("Add New Maintenance Report", "Create", null, new { @class = "btn btn-block btn-primary" })
            <br />
            @Html.Label("Search:")
            @Html.TextBox("Search", "", htmlAttributes: new { @class = "form-control rr_list_search", placeholder = "Search maintenance report here..." })
            <br />

            <table class="table table-responsive table-hover table-striped sortable">
                <thead>
                    <tr class="text-center">
                        <th>
                            No.
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().maintenanceID)
                        </th>
                        <th>
                            Roller ID

                        </th>
                        <th width="5%">Edit<br />Details</th>
                        <th width="20%">Maintenance<br />History</th>
                        <th width="8%">Request for<br />Maintenance</th>

                        @foreach (var item in Model.Select((value, index) => new { value, index }))
                        {
                        <tr>
                            <td>
                                @(item.index + 1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.value.maintenanceID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.value.rollerID)
                            </td>
                            <td>
                                @Html.ActionLink("ED", "Edit", new { id = item.value.maintenanceID }, new { @class = "btn btn-block btn-success" })
                            </td>
                            <td>
                                @Html.ActionLink("MH", "MaintenanceHistory", new { id = item.value.maintenanceID }, new { @class = "btn btn-block btn-success" })
                            </td>
                            <td>
                                @Html.ActionLink("RM", "RequestforMaintenance", new { id = item.value.maintenanceID }, new { @class = "btn btn-block btn-success" })
                            </td>
                        </tr>
                    }
                </table>
                @Html.PagedListPager(Model, i => Url.Action("Index", "Maintenance", new { i }))
            </div>
    </div>
</div>


    <script>
        // IIFE (Immediately Invoked Function Expression)
        (function () {
            // Select the search input box for each of the table list
            const searchBox = document.querySelector('input.rr_list_search');
            // Add event listeners to each search box
            searchBox.addEventListener('input', (e) => {
                const rubberRollerTable = document.querySelector('.table').children[1].children;
                Array.from(rubberRollerTable).forEach((v, i) => {
                    if (v.innerText.toLowerCase().indexOf(searchBox.value.toLowerCase()) !== -1) {
                        v.style.removeProperty('display');
                    } else {
                        v.style.display = 'none';
                    }
                });
            });
        })();
    </script>
