@model IPagedList<KJCFRubberRoller.Models.Maintenance>
@using PagedList;
@using PagedList.Mvc;

@{
    string title = " ";
    if (Model.FirstOrDefault() != null)
    {
        title = Model.FirstOrDefault().RubberRoller.rollerID;
    }
    ViewBag.Title = $"Maintenance History {(title == " " ? "" : title)}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mb-4">
    <div class="mx-auto">

        <div class="py-2 mt-4 bg-kjcf">
            <h2 class="text-white text-center">Maintenance History for Roller @title</h2>
        </div>

        <div class="bg-white container py-3">
            <div class="bg-white container-fluid py-3">
                <table class="table table-bordered">
                    <tr>
                        <td>@Html.Label("Roller ID")</td>
                        <td>@Html.TextBox("rollID", "", new { @class = "form-control", @readonly = "true" })</td>
                    </tr>
                </table>
            </div>

            <table class="table table-responsive table-hover table-striped sortable">
                <tr class="text-center">
                    <th>
                        No.
                    </th>
                    <th class="text-left">
                        Roller ID
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Can Size
                    </th>
                    <th>
                        Roller Diameter
                    </th>
                    <th>
                        Refurbish
                    </th>
                    <th>
                        Remarks
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Select((value, index) => new { value, index }))
                {
                    <tr class="text-center">
                        <td>
                            @(item.index + 1)
                        </td>
                        <td class="text-left"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            </table>
            @Html.PagedListPager(Model, i => Url.Action("StockOverview", "RubberRoller", new { i }))
        </div>
    </div>
</div>

<script>
    // IIFE (Immediately Invoked Function Expression)
    (function () {
        // Select the search input box for each of the table list
        const searchBox = document.querySelector('input.rr_location_search');
        // Add event listeners to each search box
        searchBox.addEventListener('input', (e) => {
            const table = document.querySelector('.table').children[1].children;
            Array.from(table).forEach((v, i) => {
                if (v.innerText.toLowerCase().indexOf(searchBox.value.toLowerCase()) !== -1) {
                    v.style.removeProperty('display');
                } else {
                    v.style.display = 'none';
                }
            });
        });
    })();
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}